{extend name="public:base" /}
{block name="body"}
<div class="main-div">
    <form action="" method="post" name="theForm" enctype="multipart/form-data">
        <table width="100%" id="general-table">
            <tr>
                <td class="label">用户名:</td>
                <td>
                    <input type='text' name='username' value="{$info.username}" maxlength="20" value='' size='27' /> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">密码:</td>
                <td>
                    <input type='password' name='password' value="" maxlength="20" value='' size='27' /> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">角色名称:</td>
                <td>
                    <select name="role_id">
                        {volist name='role' id='vo'}
                        <option value="{$vo.id}" {eq name="info.role_id" value="$vo.id"}selected{/eq}>{$vo.role_name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
        </table>
        <div class="button-div" >
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
</div>


{/block}