{extend name="public:base" /}
{block name="body"}
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th>编号</th>
                <th>用户名称</th>
                <th>角色名称</th>
                <th>操作</th>
            </tr>
            {volist name="data" id='val' key='k'}
            <tr align="center" class="0">
                <td width="20%">{$k}</td>
                <td width="20%">{$val.username}</td>
                <td align="center" class="first-cell" ><span>{$val.role_name}</span></td>
                <td width="30%" align="center">
                    {gt name='val.id' value='1'}
                    <a href='{:url("edit","id=".$val.id)}'>编辑</a> |
                    <a href='{:url("delete","id=".$val.id)}' title="移除" onclick="">移除</a>
                    {/gt}
                </td>
            </tr>
            {/volist}
        </table>
    </div>
</form>
{/block}