<!-- $Id: goods_trash.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ECSHOP 管理中心 - 商品回收站 </title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__ADMIN__/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="__ADMIN__/Styles/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__ADMIN__/Js/jquery-1.8.3.min.js"></script>
    <style type="text/css">
        #page-table li{
            list-style: none;
            margin:  auto 14px;
            float: left;
        }
    </style>
</head>
<body>
<h1>
    <span class="action-span">
        <a href="__GROUP__/Goods/goodsList">商品列表</a>
    </span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 商品回收站 </span>
    <div style="clear:both"></div>
</h1>
<!-- 商品搜索 -->
<div class="form-div">
    <form action="" name="searchForm">
        <img src="__ADMIN__/Images/icon_search.gif" width="26" height="22" border="0" alt="search" />
        <!-- 关键字 -->
        关键字 <input type="text" name="keyword" size="15" />
        <input type="submit" value=" 搜索 " class="button" />
    </form>
</div>

<!-- 商品列表 -->
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th><input type="checkbox" />编号</th>
                <th>商品名称</th>
                <th>货号</th>
                <th>价格</th>
                <th>操作</th>
            </tr>
            {foreach name="list" item="val"}
                <tr>
                    <td><input type="checkbox" name="checkboxes[]" value="18" /><{$val.id}></td>
                    <td>{$val.goods_name}</td>
                    <td>{$val.goods_sn}</td>
                    <td align="right">{$val.shop_price}</td>
                    <td align="center"><a href="{:url('restore','id='.$val.id)}">还原</a> |
                        <a href="{:url('remove','id='.$val.id)}" onclick="remove({$val.id})">删除</a></td>
                </tr>
            {/foreach}
            <!-- 分页 -->
            <table id="page-table" cellspacing="0">
                <tr>
                    <td width="30%">&nbsp;</td>
                    <td align="center" nowrap="true">
                        {$list->render()}
                    </td>
                </tr>
            </table>
        </table>
    </div>
</form>
<div id="footer">
    共执行 7 个查询，用时 0.160230 秒，Gzip 已禁用，内存占用 3.197 MB<br />
    版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
</body>
<script type="text/javascript">

        $('#aa').click(function(id) {
            url:"remove"


        });

</script>
</html>