<div class="topnav">
    <div class="topnav_bd w1210 bc">
        <div class="topnav_left">

        </div>
        <div class="topnav_right fr">
            <ul>
                {empty name='userInfo'}
                <li>您好，欢迎来到京西！[<a href="{:url('user/login')}">登录</a>] [<a href="{:url('user/regist')}">免费注册</a>] </li>
                {else /}
                <li>您好，{$userInfo.username}[<a href="{:url('user/loginOut')}">退出登录</a>]</li>
                {/empty}
                <li class="line">|</li>
                <li>我的订单</li>
                <li class="line">|</li>
                <li>客户服务</li>

            </ul>
        </div>
    </div>
</div>
